.transbox {
  margin: 50px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: rgba(240, 240, 240, 0.3);
  border: 0.1px grey;
  font-family: "Barlow Condensed", sans-serif;
  color: #000000;
}

.box {
  display: flex;
  align-items: center;
  padding: 70px;
}

.bio h2 {
  text-align: center;
  font-size: 35px;
}

.bio img {
  float: right;
  width: 30%;
  height: auto;
  margin: 20px;
}

.bio p {
  font-size: 22px;
  padding: 20px;
  font-weight: 100;
}

.bio a:link,
.bio a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.bio a:hover,
.bio a:active {
  background-color: red;
  transition: 0.4s ease-in-out;
}

/*---------------Responsive body design for small and medium devices-----------------------*/

@media screen and (max-width: 1048px) {
  .summary {
    font-size: 15px;
  }
  .box {
    flex-direction: column;
    padding: 10px;
    text-align: left;
  }
  .transbox {
    margin: 10px;
  }
}
