#Main-doc {
  min-height: 60vh;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#events {
  padding: 20px;
  border: 2px solid black;
  max-width: 800px;
  justify-content: center;
  width: 100%;
  background: rgba(194, 134, 134, 0.3);
}
#Main-doc h2 {
  border-top: dotted;
  border-bottom: dotted;
}
#Main-doc p {
  padding: 15px;
  text-align: left;
}
#more {
  display: none;
}
#Main-doc #pastEvents {
  text-align: center;
}
