#media {
  text-align: center;
}
#Main-doc h2 {
  font-size: 20px;
}
#Main-doc p {
  padding: 15px;
  text-align: center;
  font-size: 12px;
}

#more {
  display: none;
}
#Main-doc #pastEvents {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 4%;
}

.grid-container > section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#media {
  grid-column: 1 / 5;
  max-height: 550px;
}
#events {
  grid-column: 5;
}
#myBtn {
  font-size: 12px;
}

@media only screen and (max-width: 700px) {
  #events {
    grid-column: 1 / 5;
  }
  #media {
    grid-column: 1 / 5;
    max-height: none;
  }
}
