/*
This CSS design for global style of Navigatiion bar & footer.

Designed by : Sujan Hossain
        SID : X19170602
*/


/* reset default margin to 0 */

* {
    margin: 0;
    padding: 0;
}


/* set the body color and font */

body {
    width: 100%;
    height: auto;
    background-color: transparent;
    background-image: url("../img/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Barlow Condensed", sans-serif;
    color: black;
    font-weight: 800;
}


/* initializing the container class */

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


/* Sticky navigation color */

.forscrolling {
    /* background: #92a09a; */
    width: 100%;
    /* height: 40px; */
    position: fixed;
    top: 0px;
    /* padding: 10px 0; */
    background-color: rgb(180, 42, 42);
    z-index: 2;
}


/* ul item for navigation menu */

ul {
    padding: 12px 0;
}


/* design for navigaiton menu item */

.navbar a {
    color: #ffffff;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 18px;
}


/* design for navigation list item */

.navbar li {
    display: inline;
    padding: 5px 15px;
    letter-spacing: 2px;
}


/* hover design for navigaiton menu item */

.navbar a:hover {
    background-color: #2ee59d;
    transition: all 0.2s step-end;
}


/*  hide the button */

.toggle {
    display: none;
}


/* design for brand name or logo */

.brandname {
    /* margin: 20px 0; */
    width: 100%;
    text-align: center;
    color: black;
    /* line-height: 0px; */
}


/*  design for h1 tag of brand name or logo */

.brandname h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
}


/* design for navigation bar in the header */

.navbar {
    width: 100%;
    margin: auto;
    text-align: center;
}


/* footer */

.footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

footer {
    text-align: center;
    width: 100%;
    height: 85px;
    padding: 10px 0;
    margin: 20px auto;
    background-color: rgb(180, 42, 42);
}

footer h3,
#my-form {
    text-align: center;
    color: white;
}

#signUp form {
    padding-bottom: 20px;
    padding-top: 20px;
}

footer a {
    color: white;
}


/* copyright */

.copyright {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
}


/*--------------- End of Global Style for navigation bar & footer ------------*/


/*--------------- Responsive design of navigation bar & footer for small & medium devices ------------*/

@media only screen and (max-width: 840px) {
    .forscrolling {
        /* background: #92a09a; */
        width: 100%;
        height: 65px;
        position: fixed;
        top: 0px;
        /* padding: 10px 0; */
        background-color: rgb(180, 42, 42);
        z-index: 2;
    }
    .brandname {
        display: none;
    }
    /* ul {
        padding: 8px 0;
        background-color: rgba(46, 229, 157, 0.1);
    } */
    .navbar {
        float: none;
        text-align: center;
        display: block;
    }
    nav ul {
        float: left;
        text-align: center;
        display: none;
        /* margin-top: 40px; */
    }
    .navbar .fa-bars {
        margin: 0;
        padding: 18px;
    }
    .toggle {
        font-size: 30px;
        text-align: left;
        color: white;
        display: block;
        /* margin-bottom: 5px; */
    }
    .menu:hover {
        background-color: #2ee59d;
        transition: all 0.2s step-end;
    }
    .navbar li {
        float: none;
        display: block;
        margin: 2px;
        background-color: rgb(180, 42, 42);
    }
    .active {
        display: block;
        margin-top: -13px;
        text-align: left;
    }
}


/*--------------- End of responsive design of navigation bar & footer for small & medium devices ------------*/


/*--------------- Responsive design of navigation bar & footer for large devices ------------*/

@media only screen and (min-width: 841px) {
    .brandname {
        float: none;
        width: 100%;
        text-align: center;
    }
    .navbar {
        float: none;
        width: 100%;
        /* margin-top: -40px; */
        text-align: center;
    }
}


/*--------------- End of responsive design of navigation bar & footer for large devices ------------*/