/* 
This CSS design for global style of Navigatiion bar & footer.

Designed by : Sujan Hossain
        SID : X19170602
*/

/* reset default margin to 0 */

* {
  margin: 0;
  padding: 0;
}

/* set the body color and font */

body {
  width: 100%;
  height: auto;
  background-color: transparent;
  background-image: url("../img/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Barlow Condensed", sans-serif;
  color: black;
  font-weight: 800;
}

/* initializing the container class */

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* Sticky navigation color */

.forscrolling {
  /* background: #92a09a; */
  position: fixed;
  top: 0px;
  padding: 10px 0;
  width: 100%;
  background-color: rgb(180, 42, 42);
  z-index: 2;
}

/* ul item for navigation menu */

ul {
  padding: 20px 0;
}

/* design for navigaiton menu item */

.navbar a {
  color: #ffffff;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 18px;
}

/* design for navigation list item */

.navbar li {
  display: inline;
  padding: 0 20px 0 20px;
  letter-spacing: 2px;
}

/* hover design for navigaiton menu item */

.navbar a:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}

/*  hide the button */

.toggle {
  display: none;
}

/* design for brand name or logo */

.brandname {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  color: black;
  line-height: 0px;
}

/*  design for h1 tag of brand name or logo */

.brandname h1 {
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
}

/* design for navigation bar in the header */

.navbar {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* footer */

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 200;
}
footer {
  text-align: center;
  padding: 2%;
  border-top: solid;
  background: rgba(94, 67, 67, 0.4);
}

#signUp form {
  padding-bottom: 20px;
  padding-top: 20px;
}
/* copyright */

.copyright {
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
}

/*--------------- End of Global Style for navigation bar & footer ------------*/

/*--------------- Responsive design of navigation bar & footer for small & medium devices ------------*/

@media only screen and (max-width: 840px) {
  .brandname {
    display: none;
  }
  .navbar {
    float: none;
    text-align: center;
    display: block;
  }
  nav ul {
    float: left;
    text-align: center;
    display: none;
    /* margin-top: 40px; */
  }
  .navbar .fa-bars {
    margin: 20px;
  }
  .toggle {
    font-size: 30px;
    text-align: left;
    color: white;
    display: block;
    /* margin-bottom: 5px; */
  }
  .menu:hover {
    background-color: black;
    transition: all 0.2s ease-in;
  }
  .navbar li {
    float: none;
    display: block;
    margin-left: 20px;
  }
  .active {
    display: block;
    float: none;
    margin-top: -5px;
    text-align: left;
  }
}

/*--------------- End of responsive design of navigation bar & footer for small & medium devices ------------*/

/*--------------- Responsive design of navigation bar & footer for large devices ------------*/

@media only screen and (min-width: 841px) {
  .brandname {
    float: none;
    width: 100%;
    text-align: center;
  }
  .navbar {
    float: none;
    width: 100%;
    /* margin-top: -40px; */
    text-align: center;
  }
}

/*--------------- End of responsive design of navigation bar & footer for large devices ------------*/
