/* 
This CSS design for global style of Navigatiion bar & footer.

Designed by : Sujan Hossain
        SID : X19170602
*/


/* reset default margin to 0 */

* {
    margin: 0;
    padding: 0;
}


/* set the body color and font */

body {
    width: 100%;
    height: auto;
    background-color: transparent;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Barlow Condensed", sans-serif;
    color: black;
    font-weight: 800;
}


/* initializing the container class */

.container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}


/* Sticky navigation color */

.forscrolling {
    background: #92a09a;
    z-index: 2;
}


/* ul item for navigation menu */

.menus {
    padding: 20px 0;
}


/* design for navigaiton menu item */

.navbar a {
    color: #ffffff;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 18px;
}


/* design for navigation list item */

.navbar li {
    display: inline;
    padding: 0 20px 0 20px;
    letter-spacing: 2px;
}


/* hover design for navigaiton menu item */

.navbar a:hover {
    color: black;
    transition: all 0.2s ease-in-out;
}


/*  hide the button */

.toggle {
    display: none;
}


/* design for brand name or logo */

.brandname {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    color: white;
}


/*  design for h1 tag of brand name or logo */

.brandname h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}


/* design for navigation bar in the header */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

footer {
    margin: 20px 0;
    /* background-color: #ffffff; */
    background: #92a09a;
    color: rgb(255, 255, 255);
}

.footer {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}


/* copyright */

.copyright {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
}


/*--------------- End of Global Style for navigation bar & footer ------------*/


/*--------------- Responsive design of navigation bar & footer for small & medium devices ------------*/

@media only screen and (max-width: 743px) {
    .navbar {
        float: none;
        text-align: center;
        display: block;
    }
    nav ul {
        float: left;
        text-align: center;
        display: none;
        /* margin-top: 40px; */
    }
    .navbar .fa-bars {
        margin: 20px;
    }
    .toggle {
        font-size: 30px;
        text-align: left;
        color: white;
        display: block;
        /* margin-bottom: 5px; */
    }
    .menu:hover {
        background: black;
        transition: all 0.2s ease-in-out;
    }
    .navbar li {
        float: none;
        display: block;
        margin-left: 20px;
    }
    .active {
        display: block;
        float: none;
        margin-top: -5px;
        /* margin-bottom: 10px;
        padding: 0;
        width: 100%;
        height: 0 auto; */
        text-align: left;
    }
}


/*--------------- End of responsive design of navigation bar & footer for small & medium devices ------------*/


/*--------------- Responsive design of navigation bar & footer for large devices ------------*/

@media only screen and (min-width: 744px) {
    .brandname {
        float: none;
        width: 100%;
        text-align: center;
    }
    .navbar {
        float: none;
        width: 100%;
        /* margin-top: -40px; */
        text-align: center;
    }
}


/*--------------- End of responsive design of navigation bar & footer for large devices ------------*/