/*
This CSS design for global style of Homepage only.
Designed by : Sujan Hossain
        SID : X19170602
*/


/* Review section */

.img-and-review {
    width: 80%;
    overflow: hidden;
    margin-top: 10px;
    /*Daniel:*/
    max-width: 1100px;
    /*Daniel*/
}

.nobber-image {
    width: 95%;
    margin: 20px auto;
}


/* book image */

.nobber-image img {
    width: 50%;
    /*Daniel to make more responsive:*/
    height: 60%;
    /*height: 450px;*/
    /*Daniel*/
    text-align: center;
    margin: 0;
    padding: 0;
    float: left;
}

section {
    margin-top: 50px;
}


/* Owl Carosel for review */


/* for grab mouse icon */

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}


/* disable next/pre button */

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}


/* carosel items design */

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    /* -webkit-backface-visibility: hidden; */
    /* -webkit-touch-callout: none; */
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* -webkit-transform: translate3d(0, 0, 0); */
}


/* carosel items for review */

.owl-carousel {
    width: 49%;
    height: auto;
    margin-top: 14%;
    overflow: auto;
    float: left;
    color: white;
    font-size: 20px;
    /* border: 2px solid white; */
}


/* width for the review */

.review {
    width: 95%;
    padding: 10px;
}


/* End of owl carosel for review */


/* design for purchase button group */

.buynow {
    text-align: center;
    margin: 20px 0;
}

.buynow h3 {
    margin: 22px auto;
    font-size: 30px;
    font-style: italic;
    color: white;
}


/* text for purchase button */

.buynow a {
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    /* line-height: 40px; */
    padding: 14px 25px;
}


/* button for purchase link */

.button {
    background-color: #faf7f7;
    color: black;
    transition-duration: 0.4s;
    /* display: inline-block; */
}


/* hover for button */

.buynow a:hover {
    color: #faf7f7;
    background-color: rgba(94, 67, 67, 0.5);
}


/* end of button design */

hr {
    width: 26%;
    margin: 4px auto;
}


/*--------------- Responsive design of homepage for small & medium devices ------------*/

@media only screen and (max-width: 741px) {
    /* image and review section */
    .img-and-review {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
        overflow: hidden;
        margin-top: 50px;
    }
    /* image */
    .nobber-image img {
        width: 100%;
        height: auto;
        float: none;
        display: block;
    }
    /* review */
    .owl-carousel {
        width: 95%;
        height: auto;
        float: none;
        display: block;
        color: white;
        font-size: 20px;
        margin: 20px 0;
        overflow: hidden;
    }
    /* button for purchase link */
    .buynow a {
        text-decoration: none;
        font-size: 22px;
        font-weight: normal;
        padding: 14px 25px;
        display: inline-block;
        width: 80%;
        margin: 7px auto;
    }
    /* start of button design*/
    .button {
        background-color: #faf7f7;
        color: black;
        display: inline-block;
    }
    /* hover for button */
    .buynow a:hover {
        color: #faf7f7;
        background-color: rgba(94, 67, 67, 0.5);
    }
}


/*--------------- End of responsive design of homepage for small & medium devices ------------*/


/*--------------- Responsive design of homepage for large devices ------------*/

@media only screen and (min-width: 742px) and (max-width: 854px) {
    /* image and review section */
    .img-and-review {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
        /* background-color: rgba(46, 229, 157, 0.1); */
        margin-top: 50px;
    }
    /* image */
    .nobber-image img {
        width: 100%;
        height: auto;
        float: none;
        display: block;
    }
    /* review */
    .owl-carousel {
        width: 95%;
        height: auto;
        float: none;
        display: block;
        color: white;
        font-size: 20px;
        margin: 20px;
        overflow: hidden;
    }
    /* button for purchase link */
    .buynow a {
        text-decoration: none;
        font-size: 22px;
        font-weight: normal;
        padding: 14px 25px;
        display: inline-block;
        width: 80%;
        margin: 7px auto;
    }
    /* start of button design*/
    .button {
        background-color: #faf7f7;
        color: black;
        display: inline-block;
    }
    /* hover for button */
    .buynow a:hover {
        color: #faf7f7;
        background-color: rgba(94, 67, 67, 0.5);
    }
}


/*--------------- End of responsive design of homepage for large devices ------------*/


/*--------------- Responsive design of homepage for larger devices ------------*/

@media only screen and (max-width: 855px) {
    /* image and review section */
    .img-and-review {
        width: 100%;
        margin: 25px auto;
        overflow: hidden;
    }
    /* image */
    .nobber-image img {
        width: 95%;
        height: auto;
        margin: 20px auto;
        float: none;
        display: block;
    }
    /* review */
    .owl-carousel {
        width: 95%;
        height: auto;
        float: none;
        display: block;
        color: white;
        font-size: 20px;
        text-align: center;
        overflow: hidden;
        margin: 15px auto;
    }
    /* button for purchase link */
    .buynow a {
        text-decoration: none;
        font-size: 22px;
        font-weight: normal;
        padding: 14px 25px;
        display: inline-block;
        width: 80%;
        margin: 7px auto;
    }
    /* start of button design*/
    .button {
        background-color: #faf7f7;
        color: black;
        display: inline-block;
    }
    /* hover for button */
    .buynow a:hover {
        color: #faf7f7;
        background-color: rgba(94, 67, 67, 0.5);
    }
}


/*--------------- End of responsive design of homepage for larger devices ------------*/