#Main-doc {
  min-height: 60vh;
  max-height: fit-content;
  width: 100%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
#events {
  padding: 20px;
  border: 2px solid black;
  max-width: 800px;
  justify-content: center;
  width: 80%;
}
#Main-doc h2 {
  border-top: dotted;
  border-bottom: dotted;
}
#Main-doc p {
  padding: 15px;
}
#Media {
  display: flex;
  width: 20%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  align-content: center;
}
#Media h2 {
  padding: 15px 50px 15px 50px;
  margin: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 900px) {
  #Main-doc {
    flex-direction: column;
  }
  #Media {
    width: 500px;
  }
}
