/*--------------- Global Style Start------------*/


/* reset default margin to 0 */

* {
    margin: 0;
}


/* set the body color and font */

body, html {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-weight: 800;
    background-image: url("img/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* initializing the container class */

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}


/* header background color & font color for navigation  */

header {
    background: transparent;
    min-height: 100px;
    color: white;
}


/*--------------- Global Style End------------*/


/* design for navigaiton menu item */

.navbar a {
    color: white;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 18px;
}


/* design for navigation list item */

.navbar li {
    display: inline;
    padding: 0 20px 0 20px;
    letter-spacing: 2px;
}


/* hover design for navigaiton menu item */

.navbar a:hover {
    color: tomato;
    transition: all 0.2s ease-in-out;
}

.navbar a:active {
    border-bottom: 1px solid white;
}

/* design for Twitter icon */

.fa-twitter, .fa-instagram {
  padding: 20px;
  font-size: 30px;
  width: 2px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* design for brand name or logo */

.navbranding {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* design for navigation bar in the header */

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

/* box sections */

.transbox {

  margin: 80px;
  background-color: rgba(240,240,240,0.3);
  border: 0.2px solid grey;
  font-family: 'Barlow Condensed', sans-serif;
  color: #000000;
}

.box {
  display: flex;
  align-items: center;
  padding: 70px;
}

.transbox img {
    width: 50%;
    height: auto;
    text-align: center;
    margin: auto;
    padding-right: 50px;
    opacity: 1;
}


.summary h2 {
    text-align: left;
    font-weight: 100;
    padding: 10px 50px 10px 10px;
}

.summary p {
  text-align: right;
  padding-right: 50px;
}

.reviews {
  padding-bottom: 50px;
  }

.reviews h1 {
  font-weight: 100;
  text-align: center;
  padding: 10px 50px 40px 10px;
}

.reviews h3 {
  font-weight: 100;
  text-align: left;
  padding: 10px 100px 10px 100px;
}

#myBtn {
  margin-left: 100px;
  margin-top: 10px;
  font-weight: 100;
  text-align: left;
  padding: 10px 100px 10px 100px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

p {
  font-weight: 100;
}

/* footer */

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 200;
}


/* copyright */

.copyright {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}



/*  hide the button */

.toggle {
    display: none;
}

/*---------------Responsive body design for small and medium devices-----------------------*/

@media screen and (max-width: 1048px) {
  .summary {
    font-size: 15px;
  }
  .box {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .transbox {
    margin: 10px;
  }
  .reviews h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*--------------- Responsive navbar design for small & medium devices ------------*/

@media only screen and (max-width: 1048px) {
    .navbar {
        float: none;
        text-align: center;
        display: block;
    }
    nav ul {
        float: left;
        text-align: center;
        display: none;
        margin-top: 40px;
    }
    .navbar .fa-bars {
        margin-left: 10px;
        color: black;
    }
    .toggle {
        font-size: 30px;
        text-align: left;
        color: white;
        display: block;
        /* margin-bottom: 5px; */
    }
    .menu: hover {
        background: deepskyblue;
        transition: all 0.5s ease-in-out;
    }
    .navbar li {
        float: none;
        display: block;
        margin-left: 20px;
    }
    .active {
        display: block;
        float: none;
        margin-top: -5px;
        margin-bottom: 10px;
        padding: 0;
        width: 100%;
        height: 0 auto;
        text-align: left;
    }
}


/*--------------- End of responsive navbar design for small & medium devices ------------*/


/*--------------- Responsive navbar design for large devices ------------*/

@media only screen and (min-width: 1049) {
    .navbranding {
        float: none;
        width: 100%;
        text-align: center;
    }
    .navbar {
        float: none;
        width: 100%;
        margin-top: -40px;
        text-align: center;
    }

}


/*--------------- End of responsive navbar design for large devices ------------*/
