header h1 {
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* box sections */

.transbox {

  width: 80%;
  margin: 4% auto;
  background-color: rgba(240, 240, 240, 0.15);
  border: 0.1px grey;
  font-family: "Barlow Condensed", sans-serif;
  color: #000000;
  font-size: 85%;
  max-width: 1100px;
}

.box {
  display: flex;
  align-items: center;
  padding: 70px;
}

.transbox img {
  width: 35%;
  height: auto;
  text-align: center;
  margin: auto;
  padding-right: 50px;
  opacity: 1;
}

.summary h1 {
  font-size: 40px;
}

.summary h2 {
  text-align: left;
  font-weight: 100;
  padding: 10px 50px 10px 10px;
}

.summary p {
  text-align: right;
  padding-right: 50px;
  font-size: 150%;
}

.reviews {
  padding-bottom: 50px;
}

.reviews h2 {
  font-weight: 100;
  font-size: 40px;
  text-align: left;
  padding: 40px 100px 20px 100px;
}

.reviews h3 {
  font-weight: 100;
  font-size: 130%;
  text-align: left;
  padding: 10px 100px 10px 100px;
}

#myBtn {
  margin-left: 100px;
  margin-top: 10px;
  font-weight: 100;
  text-align: left;
  padding: 10px 100px 10px 100px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

#myBtn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

#more {
  display: none;
}

/* design for purchase button group */

.buybook p {
  font-size: 22px;
  padding-bottom: 50px;
  font-weight: 100;
  text-align: center;
}

.buybook a:link,
.buybook a:visited {
  background-color: #faf7f7;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buybook a:hover,
.buybook a:active {
  background-color: #dbc5c5;
  transition: 0.4s ease-in-out;
}

/* end of button design */

/*---------------Responsive body design for small and medium devices-----------------------*/

@media screen and (max-width: 1048px) {
  .summary h1 {
    font-size: 30px;
  }
  .summary {
    font-size: 12px;
  }
  .box {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .transbox {
    width: 95%;
  }
  .transbox h2 {
    padding-right: 5px;
  }
  .transbox img {
    padding-left: 50px;
    padding-bottom: 10px;
    width: 65%;
  }
  .reviews h2 {
    text-align: center;
    padding-right: 95px;
  }
  .reviews h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  #myBtn {
    margin-left: 12%;
    margin-right: auto;
  }
}
