/* Header design */

header h1 {
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Design for box sections */

.transbox {
  width: 80%;
  margin: 50px auto;
  background-color: rgba(240, 240, 240, 0.15);
  border: 0.1px grey;
  font-family: "Barlow Condensed", sans-serif;
  color: #000000;
  font-size: 85%;
  max-width: 1100px;
}

.box {
  display: flex;
  align-items: center;
  padding: 50px;
  margin: auto;
}

.transbox img {
  width: 35%;
  height: auto;
  text-align: center;
  margin: auto;
  padding-right: 50px;
  opacity: 1;
}

.summary h2 {
  font-size: 40px;
}

.summary h3 {
  text-align: left;
  font-size: 21px;
  font-weight: 100;
  padding: 30px 50px 10px 10px;
}

.summary p {
  text-align: right;
  padding-right: 50px;
  font-size: 150%;
}

.reviews {
  padding-bottom: 50px;
}

.reviews h2 {
  font-weight: 100;
  font-size: 40px;
  text-align: left;
  padding: 40px 100px 20px 100px;
}

.reviews h3 {
  font-weight: 100;
  font-size: 130%;
  text-align: left;
  padding: 10px 100px 10px 100px;
}

/* Design for More button */

#myBtn {
  margin-top: 10px;
  font-weight: 100;
  text-align: left;
  padding: 10px 100px 10px 100px;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #eda49f;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

#myBtn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

#more {
  display: none;
}

/* design for purchase button group */

.buynow {
  text-align: center;
  margin: 20px 0;
  padding-bottom: 40px;
}

.buynow h3 {
  padding: 10px;
  font-size: 30px;
  font-weight: 200;
}

/* text for purchase button */

.buynow a {
  text-decoration: none;
  font-size: 22px;
  font-weight: normal;
  /* line-height: 40px; */
  padding: 14px 25px;
}

/* text for purchase header */

.buynow h3 {
  margin: 24px auto;
  color: white;
}

/* button for purchase link */

.button {
  background-color: #faf7f7;
  color: black;
  transition-duration: 0.4s;
}

/* hover for button */

.buynow a:hover {
  color: #faf7f7;
  background-color: rgba(94, 67, 67, 0.5);
}
#button-more {
  width: 100%;
  text-align: center;
}
/* end of button design */

/*---------------Responsive body design for small and medium devices-----------------------*/

@media screen and (max-width: 1048px) {
  /* box sections */
  .summary h1 {
    font-size: 30px;
  }
  .summary {
    font-size: 12px;
  }
  .box {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .transbox {
    width: 95%;
  }
  .transbox h2 {
    padding-right: 5px;
  }
  .transbox img {
    padding-left: 50px;
    padding-bottom: 10px;
    width: 65%;
  }
  /* button for purchase link */
  .buynow a {
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    padding: 14px 25px;
    display: inline-block;
    width: 80%;
    margin: 7px auto;
  }
  .button {
    background-color: #faf7f7;
    color: black;
    display: inline-block;
  }
  /* hover for button */
  .buynow a:hover {
    color: #faf7f7;
    background-color: rgba(94, 67, 67, 0.5);
  }
  /* Design for reviews */
  .reviews h2 {
    text-align: center;
    padding-right: 95px;
  }
  .reviews h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* More button */
  #myBtn {
    text-align: center;
    margin-right: auto;
  }
}
