.brandname {
  color: white;
}

header h1 {
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* box sections */

.transbox {
  margin: 50px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: rgba(240, 240, 240, 0.3);
  border: 0.1px grey;
  font-family: "Barlow Condensed", sans-serif;
  color: #000000;
  font-size: 85%;
}

.box {
  display: flex;
  align-items: center;
  padding: 70px;
}

.transbox img {
  width: 35%;
  height: auto;
  text-align: center;
  margin: auto;
  padding-right: 50px;
  opacity: 1;
}

.summary h1 {
  font-size: 40px;
}

.summary h2 {
  text-align: left;
  font-weight: 100;
  padding: 10px 50px 10px 10px;
}

.summary p {
  text-align: right;
  padding-right: 50px;
}

.reviews {
  padding-bottom: 50px;
}

.reviews h1 {
  font-weight: 100;
  font-size: 40px;
  text-align: left;
  padding: 20px 100px 20px 100px;
}

.reviews h3 {
  font-weight: 100;
  text-align: left;
  padding: 10px 100px 10px 100px;
}

#myBtn {
  margin-left: 100px;
  margin-top: 10px;
  font-weight: 100;
  text-align: left;
  padding: 10px 100px 10px 100px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

#myBtn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

#more {
  display: none;
}

/* Note from Gearoid this is what makes your title different from global */
p {
  font-weight: 100;
}

/* design for purchase button group */

.buybooks p {
  text-align: center;
  padding-bottom: 20px;
}

.buynow {
  text-align: center;
  margin: 20px 0;
  padding-bottom: 20px;
}

/* text for purchase button */

.buynow a {
  text-decoration: none;
  font-size: 12px;
  color: darkgrey;
}

/* start of button design*/

/* button for purchase link */

.button {
  width: 140px;
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #47d147;
  color: darkred;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

/* hover for button */

.button :hover {
  color: #000;
  background-color: #f5f5f5;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

/* end of button design */

/*---------------Responsive body design for small and medium devices-----------------------*/

@media screen and (max-width: 1048px) {
  .summary {
    font-size: 12px;
  }
  .box {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .transbox {
    margin: 10px;
  }
  .transbox img{
    padding-left: 40px;
  }
  .reviews h1{
    text-align: center;
    }
  .reviews h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  #myBtn {
    margin-left: 55px;
  }
}
