a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  align-content: center;
}

.book {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-bottom: 2px;
  border-radius: 6px;
}

.phone-btn {
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: rgb(59, 55, 55);
  color: white;
  border-radius: 6px;
  position: relative;
}

.btn:active {
  background-color: rgb(115, 122, 115);
}
.flex-1 {
  align-content: center;
  margin: 20px 0 auto;
}

.flex-2 {
  display: none;
  margin: 20px 0 auto;
}
.flex-2 ul {
  bottom: 0;
}

.tab-button {
  display: none;
}

.phone-list ul img{
  height: 40px;
  width: 75px;
}

.phone-list li {
  list-style-type: none;
  display: inline-block;

} 

/* phone modal start */
/*modal settings */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
/*modal content*/
.modal-content {
  background-color: lightgrey;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  height: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  /*animation*/
  animation-name: modalopen;
  animation-duration: 1s;
}

/* modal close button */
.closeBtn1,
.closeBtn2 {
  color: black;
  float: right;
  font-size: 30px;
}
.closeBtn1:hover,
.closeBtn1:focus,
.closeBtn2:hover,
.closeBtn2:focus {
  color: navy;
  text-decoration: none;
  cursor: pointer;
}

/*Keyframe for modal animation*/
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Removes review class when things get too packed*/
@media only screen and (max-width: 928px) {
  .review {
    display: none;
  }
}

/* Tablet view */
@media only screen and (min-width: 600px) {
  .book {
    display: flex;
  }

  .phone-btn {
    display: none;
  }

  .book-holder {
    display: flex;
    padding: 20px;
    margin: 10px;
    align-content: left;
  }

  .flex-1 {
    display: flex;
    flex: 1;
  }

  .flex-2 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    height: 100hv;
  }

  .flex-2 h2 {
    padding: 5px 5px 15px;
    text-align: left;
    font-size: 2.5em;
  }

  .flex-2 p {
    padding: 5px;
    text-align: left;
    font-size: 1.2em;
  }

  .flex-2 ul {
    margin-top: 20px;
    float: right;
  }

  .flex-2 li {
    list-style-type: none;
    display: inline;
  }

  .flex-2 a {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.4s;
  }
  .flex-2 a:hover, .flex-2 a:focus, .flex-2 a:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  .review p:nth-child(2),
  .review p:nth-child(4) {
    text-align: right;
  }

  .tablet-list img{
    width: 100px;
    height: 40px;
  }
}
/*Computer view*/
@media only screen and (min-width: 1200px) {
  .book-holder {
    max-width: 1100px;
    margin: 0 auto;
    float: none;
    display: flex;
    align-content: left;
  }
}
