/*Starting with design for the small screen view*/

/*styling for the book images*/
.book {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  margin-bottom: 2px;
}

/*styling the button that appears on the small screen view*/
.phone-btn {
  display: block;
  width: 85%;
  margin: auto;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgb(59, 55, 55);
  color: white;
  border-radius: 6px;
  position: relative;
}

/*styling for the first flexbox which contains the book image*/
.flex-1 {
  align-content: center;
  margin: 20px 0 5px 0;
}

/*styling for the first flexbox which contains the description of book, and links to buy*/
.flex-2 {
  display: none;
}

/*styling for the list of links that appear in the modal*/
.phone-list ul {
  display: block;
}

/*styling for the list items*/
.phone-list li {
  text-align: center;
  margin: 20px 0;
  list-style-type: none;
  margin: 1px;
}

/*styling for the links in phone view*/
.phone-list a {
  text-decoration: none;
  font-size: 22px;
  font-weight: normal;
  padding: 14px 25px;
  display: inline-block;
  width: 80%;
  margin: 7px auto;
  background-color: #faf7f7;
  color: black;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* phone modal start */

/*modal settings */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*styling for the content inside the modal*/
.modal-content {
  display: block;
  background-color: rgba(221, 69, 68, 0.9);
  margin: 20% auto;
  padding: 20px;
  width: 80%;
  height: 80%;
  overflow: auto;
  max-width: 300px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  /*animation*/
  animation-name: modalopen;
  animation-duration: 1.5s;
}

/*styling for h2 inside the modal box*/
.modal-content h2 {
  font-size: 30px;
}

/*styling for p content inside the modal box*/
.modal-content p {
  padding-top: 10px;
  font-size: 18px;
}

/*styling for the list inside the modal box*/
.modal-content ul {
  vertical-align: bottom;
}

/* modal close button */
.closeBtn1,
.closeBtn2 {
  color: black;
  float: right;
  font-size: 30px;
}

/*styling for the button that closes the modal box actions*/
.closeBtn1:hover,
.closeBtn1:focus,
.closeBtn2:hover,
.closeBtn2:focus {
  color: navy;
  text-decoration: none;
  cursor: pointer;
}

/*Keyframe for modal animation*/
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Removes review class when things get too packed*/
@media only screen and (max-width: 1000px) {
  .review {
    display: none;
  }
}

/* Tablet view */
@media only screen and (min-width: 700px) {
  .book {
    display: flex;
  }

  /*removes styling for the more details button from phone view*/
  .phone-btn {
    display: none;
  }

  /*styling for the container of both the book image and the details/buy buttons of each book*/
  .book-holder {
    display: flex;
    padding: 20px;
    margin: 50px 2%;
    background-color: rgba(240, 240, 240, 0.15);
  }

  /*styling for the book image on bigger screens*/
  .flex-1 {
    display: flex;
    flex: 1;
  }

  /*styling for the book details on bigger screens*/
  .flex-2 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 60px;
  }
  /*styling for the book details h2 tags on bigger screens*/
  .flex-2 h2 {
    padding: 5px 5px 15px;
    text-align: left;
    font-size: 2.5em;
  }
  /*styling for the book details p tags on bigger screens*/
  .flex-2 p {
    padding: 5px;
    text-align: left;
    font-size: 1.2em;
    font-weight: 100;
  }

  /*styling for the book details list on bigger screens*/
  .flex-2 ul {
    margin-top: 20px;
    float: right;
  }

  /*styling for the book details list items on bigger screens*/
  .flex-2 li {
    list-style-type: none;
    display: inline;
  }
  /*styling for the book details list links on bigger screens*/

  .flex-2 a {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.4s;
  }

  /*styling for the book details link actions on bigger screens*/
  .flex-2 a:hover,
  .flex-2 a:focus,
  .flex-2 a:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  /*setting the 'reviewed by' paragraphs to the right for styling*/
  .review p:nth-child(2),
  .review p:nth-child(4) {
    text-align: right;
  }

  /*removing the modal content on bigger screens*/
  .modal-content {
    display: none;
  }

  /*styling for list on tablet+ screens*/
  .tablet-list {
    text-align: center;
    margin: 20px 0;
  }
  /*styling for list links on tablet+ screens*/
  .tablet-list a {
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    padding: 14px 15px;
    background-color: #faf7f7;
    color: black;
  }
  /*styling for list link actions on tablet+ screens*/
  .tablet-list a:hover {
    color: #faf7f7;
    background-color: rgba(94, 67, 67, 0.5);
  }
}

/*styling to resize list and p at this size*/
@media only screen and (max-width: 770px) {
  .tablet-list a {
    padding: 5px;
  }
  .flex-2 p {
    font-size: 1em;
    padding: 0px;
  }
}

/*Computer view*/
@media only screen and (min-width: 1200px) {
  /*styling for container at big screen size*/
  .book-holder {
    max-width: 1100px;
    display: flex;
    margin: 50px auto;
  }

  /*styling for book image on big screen*/
  .book {
    width: 90%;
    height: 100%;
    margin-left: 40px;
  }
}
