/*--------------- Global Style Start------------*/


/* reset default margin to 0 */

* {
    margin: 0;
    padding: 0;
}


/* set the body color and font */

body {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 800;
}


/* initializing the container class */

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}


/* header background color & font color for navigation  */

header {
    background: transparent;
    min-height: 100px;
    color: black;
}


/*--------------- Global Style End------------*/


/* design for navigaiton menu item */

.navbar a {
    color: black;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 18px;
}


/* design for navigation list item */

.navbar li {
    display: inline;
    padding: 0 20px 0 20px;
    letter-spacing: 2px;
}


/* hover design for navigaiton menu item */

.navbar a:hover {
    color: tomato;
    transition: all 0.2s ease-in-out;
}


/* design for brand name or logo */

.navbranding {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}


/* design for navigation bar in the header */

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}


/* image section */

.books-description {
    text-align: center;
}


/* image */

.image img {
    width: 40%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}


/* footer */

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 200;
}


/* copyright */

.copyright {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}

.map h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}


/*  hide the button */

.toggle {
    display: none;
}


/*--------------- Responsive navbar design for small & medium devices ------------*/

@media only screen and (max-width: 1048px) {
    .navbar {
        float: none;
        text-align: center;
        display: block;
    }
    nav ul {
        float: left;
        text-align: center;
        display: none;
        margin-top: 40px;
    }
    .navbar .fa-bars {
        margin-left: 10px;
        color: black;
    }
    .toggle {
        font-size: 30px;
        text-align: left;
        color: white;
        display: block;
        /* margin-bottom: 5px; */
    }
    .menu: hover {
        background: deepskyblue;
        transition: all 0.5s ease-in-out;
    }
    .navbar li {
        float: none;
        display: block;
        margin-left: 20px;
    }
    .active {
        display: block;
        float: none;
        margin-top: -5px;
        margin-bottom: 10px;
        padding: 0;
        width: 100%;
        height: 0 auto;
        text-align: left;
    }
}


/*--------------- End of responsive navbar design for small & medium devices ------------*/


/*--------------- Responsive navbar design for large devices ------------*/

@media only screen and (min-width: 1049) {
    .navbranding {
        float: none;
        width: 100%;
        text-align: center;
    }
    .navbar {
        float: none;
        width: 100%;
        margin-top: -40px;
        text-align: center;
    }
}


/*--------------- End of responsive navbar design for large devices ------------*/
